In [ ]:
age=35
type(age)

int

In [ ]:
age='hk'
type(age)

str

In [ ]:
data=[1,2,3,'himanshi','kawade','o+',['1542679','4522997452'],False,5.2]

In [ ]:
data[5]
data[1:6]
data[0:8]
data[-2]
data.insert(4,'narendra')
data

[1,
 2,
 3,
 'himanshi',
 'narendra',
 'kawade',
 'o+',
 ['1542679', '4522997452'],
 False,
 5.2]

In [ ]:
names={'himanshi','divyani','tanishka','pravjya','vanshika','sumit','tejas'}
names.add('vaishnavi')

In [ ]:
cricket={'aman','rajesh','rahul','sumit','tejas'}
football={'rohan','manish','john','makus'}

In [ ]:
cricket.union(football)
cricket.intersection(football)

set()

In [ ]:
marks=[89,96,92,91,90,84]

In [ ]:
marks={'maths':96,'history':85,'english':90}
marks['maths']

96

In [ ]:
marks['geography']=86
marks

{'maths': 96, 'history': 85, 'english': 90, 'geography': 86}

In [ ]:
age=19
if age >=18:
  print("you can apply for Dl")
else:
  print("you can not apply for Dl")

you can apply for Dl

In [ ]:
for _ in range(0,10):
  print("hello")

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [ ]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
for i in names:
  print('**************')
  print(i)

**************
tanishka
**************
divyani
**************
vaishnavi
**************
sumit
**************
himanshi
**************
pravjya
**************
tejas
**************
vanshika

In [ ]:
names=('himanshi','divyani','tanishka','pravjya','vanshika','sumit','tejas')
a=input("enter the name:")
found=False

for i in names:
  if i==a:
    found=True
    break
if found==True:
    print("name found in list")
else:
    print("name not found")

enter the name:himanshi
name found in list

In [ ]:
import math
math.log(10)
math.e
math.sin(90)

0.8939966636005579

In [ ]:
help(math.sin)

Help on built-in function sin in module math:

sin(x, /)
    Return the sine of x (measured in radians).

In [ ]:
from math import log
log(10)
from math import log,sin
sin(95)

0.683261714736121

In [ ]:
import math as m
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
from coll import counter

In [ ]:
def addition(*a):
 print("the addition is",a)
 print (type(a))
 return a

In [ ]:
def addition (a ,b=0):
  return a+b

In [ ]:
x=addition(2,1,6)

the addition is (2, 1, 6)
<class 'tuple'>

In [ ]:
print("Hello World",'At IIT',sep='_')

Hello World_At IIT

In [ ]:
def addition (*a):
  sum=0
  for i in a:
    sum=sum+i
    return sum

In [ ]:
i=addition(2,3,4,5,6)
print(i)

2

In [ ]:
def insert_data(**a):
  print(a)

In [ ]:
insert_data(name='himanshi',surname='kawade',place='nagpur',age=18)

{'name': 'himanshi', 'surname': 'kawade', 'place': 'nagpur', 'age': 18}

In [ ]:
#oop

In [ ]:
def print_menu():
  print('select an option')
  print('1      insert/add a guests')
  print('2       remove a guests')
  print('3      search a guests')

  print_menu()
  choice=input("enter your choice")


if choice=='1':
   name=input('enter a name to add in list')
   print("a guests will be added:")


elif choice=='2':
    names=input('enter a name to delete:')
    print('a guests will be deleted')


else:
  name-input('enter a name to search')
  print('a guest is searched')

NameError: ignored

In [ ]:
guests=['himanshi','divyani','tanishka','pravjya','sumit','tejas','vaishnavi']

In [ ]:
def insert(*a):
  insert('mehvish','shally','maheshwari')

In [ ]:
def remove(*a):
  remove('mehvish')

In [ ]:
def search(*a):
  search('himanshi')

In [ ]:
guests.append('mehvish')
guests.remove('mehvish')
print(guests)

['himanshi', 'divyani', 'tanishka', 'pravjya', 'sumit', 'tejas', 'vaishnavi']

In [ ]:
print (guests)

['himanshi', 'divyani', 'tanishka', 'pravjya', 'sumit', 'tejas', 'vaishnavi']

In [ ]:
 himanshi
 divuyani
 pravjya
 tanishka
 sumit
 tejas
 vaishnavi

with open('name.txt')as f:
  x=f.read()
  print(x)
with open('name.txt',w)as f:
  x=f.write()
  print(x)
with open ('name.txt',a)as f:
  x=f.append()
  print(x)

In [ ]:
with open('name.txt')as f:
  x=f.read()
  print(x)

In [ ]:
with open('name.txt',w)as f:
  x=f.write()
  print(x)

In [ ]:
with open ('name.txt',a)as f:
  x=f.append()
  print(x)